version: "3.9"
services:

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8080
    env_file:
      - ./frontend/.env
    volumes:
    - ./frontend:/app
    - /app/node_modules
    command: npm run dev -- --host

  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: core
      POSTGRES_PASSWORD: core
      POSTGRES_DB: core_db
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./backend/db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - core_net

  backend:
    build: ./backend
    ports:
      - "18080:18080"
    depends_on:
      - postgres
    networks:
      - core_net

networks:
  core_net:

volumes:
  pgdata: