version: "3.9"
services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8080
    env_file:
      - ./frontend/.env
    volumes:
    - ./frontend:/app
    - /app/node_modules
    command: npm run dev -- --host

  auth:
    build: ./auth
    env_file:
      - ./auth/.env
    ports:
      - "8081:8081"
    depends_on:
      - redis
      - mongo
    environment:
      REDIS_ADDR: redis:6379
      MONGO_URI: mongodb://mongo:27017
      GITHUB_CLIENT_ID: Ov23li4YURt6uH6rsHOL
      GITHUB_CLIENT_SECRET: fe15c95da6052b64f449dac3c716fd659f28e215
    # volumes:
    #   - ./auth:/app

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: